@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-top: 50px;
  border: none;
  color: #0d2904;
}

.product {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.product img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.product h3 {
  margin-top: 10px;
}

.product span {
  display: block;
  margin-top: 5px;
}

.product .rating {
  color: rgb(216, 233, 206);
}

.product .add-to-cart {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(104, 173, 104);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
